*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 25, 36);
    
}

/* Slider */

h1,h2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    transform: translateY(-750%);
    z-index: 1;

}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Carousel */
 .carousel{
    max-width: 800px;
    width: 80%;
    border: 1px solid rgb(218, 218, 218);
    position: relative;
    padding: 50px;
}
 .carousel .carousel__wrapper{
   
    height: 320px;
    position: relative;
    overflow: hidden;
   
}

.carousel .carousel__wrapper .carousel__slides{
    display: flex;  
    position: relative;
    top: 0;
    width: 10000px;
    left: -700px;
    
    
}
.carousel__slides.shifting {
    transition: left .2s ease-out;
  }
#autoplay{
    width: 65px;
    height: 35px;
    border: 2px solid #fff;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    z-index: 10;
    cursor: pointer;
    font-size: 16px;
    display: none;
    color:#fff;
}
#autoplay.visible{
    display: block;
}
.carousel .carousel__wrapper .carousel__slides .carousel__slide-item{
    height: 300px;
    width: 680px;
    max-width: 680px;
    background-color:#e2e2e2;
    margin: 10px;
    padding: 1%;
}

 .carousel .carousel__wrapper .carousel__slides .carousel__slide-item div{
    font-size: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}
.carousel__prev, .carousel__next{
    border: none;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    outline: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, 0%);
    background-color: transparent;
    transform: rotate(-45deg);
    cursor: pointer;
}
.carousel__next{
    left: auto;
    right: 20px;
    transform: rotate(135deg);
 
   
}
.carousel__dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
  
}
.carousel__dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:#fff;
    border: none;

}
.carousel__dot:not(:last-child){
    margin-right: 5px;
}
.carousel__dot.dot--active{
    background-color:#5c8ddd;
}



/* Fade */
.fade{
    max-width: 800px;
    width: 80%;
    border: 1px solid rgb(218, 218, 218);
    position: relative;
    padding: 50px;
   
}
 .fade .fade__slides{
    margin: 0 auto;
    
}
.fade .fade__slides .fade__slide-item{
    height: 300px;
    width: 100%;
    margin: 0 auto;
    background-color:#e2e2e2;
    transition: all .4s ease-in-out;
    opacity: 0;
    display: none;
    padding: 2%;
}
 .fade .fade__slides .fade__slide-item.show{
    opacity: 1;
    display: block;
    animation: visible .3s linear;
}

.fade .fade__slides .fade__slide-item div{
    font-size: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  
   
}
.fade__prev, .fade__next{
    border: none;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    outline: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, 0%);
    background-color: transparent;
    transform: rotate(-45deg);
    cursor: pointer;
}
.fade__next{
    left: auto;
    right: 20px;
    transform: rotate(135deg);
 
   
}
.fade__dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
  
}
.fade__dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:#fff;
    border: none;
    cursor: pointer;

}
.fade__dot:not(:last-child){
    margin-right: 5px;
}
.fade__dot.dot--active{
    background-color:#5c8ddd;
}


@keyframes visible {
    0%{
        opacity: 1;
    }
   
   
    100%{
       opacity: 0;
   }


}


